



    <div mat-dialog-content >
        <h1 mat-dialog-title>{{editing ? 'Editar receta' : 'Crear receta'}}</h1>

            <form  #postForm="ngForm" >
                <input type="text" name="_id" [(ngModel)]="myPost._id"  #_id="ngModel" hidden> 
                <input type="text" name="author" [(ngModel)]="myPost.author"  #author="ngModel" hidden>

                <mat-form-field>
                    <mat-label>Título de la receta</mat-label>
                    <input matInput type="text" required
                        name="title" [(ngModel)]="myPost.title" #title="ngModel"
                        placeholder="Título de la receta">
                    <mat-error *ngIf="title.invalid">Introduce un título.</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descripción corta</mat-label>
                    <textarea matInput required required rows="2" 
                        name="description" [(ngModel)]="myPost.description" #description="ngModel"
                        placeholder="Incluye un resumen breve de la receta (1 o dos líneas)">
                    </textarea>
                    <mat-error *ngIf="description.invalid">¡No te olvides de escribir algo!</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descripción larga</mat-label>
                    <textarea matInput  required rows="4" 
                        name="content" [(ngModel)]="myPost.content" #content="ngModel"
                        placeholder="Explica en más detalles en qué consiste la receta: origen, ocasiones en las que te gusta hacerla, por qué te gusta...">
                    </textarea>
                    <mat-error *ngIf="content.invalid">¡No te olvides de escribir algo!</mat-error>
                </mat-form-field>

                
                <app-formlist [(items)]="myPost.items!" formTitle="Ingredientes"/>
                <app-formlist [(items)]="myPost.steps!" formTitle="Instrucciones"/>

                <mat-form-field>
                    <mat-label>Tiempo de elaboración</mat-label>
                    <input matInput type="text" required
                        name="date" [(ngModel)]="myPost.date" #date="ngModel"
                        placeholder="¿Cuánto tiempo se tarda?">
                    <mat-error *ngIf="date.invalid">Introduce el tiempo estimado</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Categoría</mat-label>
                    <mat-select [formControl]="formControl" multiple>

                        <!--- Esto muestra el campo de selección, por defecto el primer índice de los items seleccinados-->
                        <mat-select-trigger>
                            {{formControl.value?.[0] || ''}}
                        </mat-select-trigger>

                        @for (item of categoryList; track item) {
                            <mat-option [value]="item">{{item}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Nivel de dificultad</mat-label>
                    <input matInput type="text" required
                        name="status" [(ngModel)]="myPost.status" #status="ngModel"
                        placeholder="¿Cómo de difícil es la receta?">
                    <mat-error *ngIf="status.invalid">Introduce la dificultad</mat-error>
                </mat-form-field>

               
                <!-- <mat-form-field>
                    <input matInput type="text" required
                        name="imgUrl" [(ngModel)]="myPost.imgUrl" #imgUrl="ngModel"
                        placeholder="Url de la imagen (pegar enlace)">
                    <mat-error *ngIf="title.invalid">Introduce el link de la imagen.</mat-error>
                </mat-form-field> -->


                <input id="file"
                    type="file"
                    required
                    name="image"
                    (change)="onFileSelected($event)"
                    accept="image/jpeg, image/jpg, image/png"
                    placeholder="Selecciona una imagen"
                />
              
                


            @if (!editing){
                <button
                    mat-raised-button
                    color="accent"
                    (click)="onAddPost(postForm)">Guardar
                </button>
            } @else {
                <button
                    mat-raised-button
                    color="primary"
                    (click)="onUpdatePost(postForm)">Actualizar
                </button>

                <button
                    mat-raised-button
                    color="primary"
                    (click)="onDeletePost(myPost._id)">
                    <i class="material-icons">delete</i>
                </button>
            }
            <button mat-raised-button
                    color="accent"
                    (click)="onCancelEdit()">Cancelar
            </button>

            </form>
     

    </div>

        
    
