
button{
    margin: 0px;
    margin-right: 10px;
    
}

#file{
    display: block;
    margin: 20px;
}
#item-list{
    display: inline;
    max-width: 80%;

}

:host {
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
  }


  mat-form-field, h1, div{
    display: block;
  }

  mat-label{
    font-size: 1.1em;
}