

<div id="personal-data">
    <mat-card>
        <mat-card-header>
            <h2 id="title">¡Hola, {{ user!.name }} !</h2>

        </mat-card-header>

        <mat-card-content>
            Bienvenido a tu panel de usuario, aquí es donde puedes consultar tanto tus recetas creadas, 
            como las recetas que hayas archivado de otros usuarios.
        </mat-card-content>
    </mat-card>


    <button mat-raised-button color="accent" (click)="onSelectingAuthored()">
        Mis recetas
    </button>
    
    <button mat-raised-button color="accent" (click)="onSelectingBookmarks()">
        Recetas archivadas
    </button>

    @if (searchFilter === 'authored'){
        <h2> Mis recetas creadas</h2>
    } @else if (searchFilter === 'bookmarked'){
        <h2> Recetas archivadas</h2>
    }
    <app-search (filteredPosts)="searchBarFilter($event)" [searchAll]="false" />
    
</div>

<div id="posts-body">
    <app-post-list [posts]="posts" />
    <app-post-details [postDetails]="postDetails"/>
</div>



