
a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto del elemento padre */
    /* Puedes agregar más reglas aquí para personalizar los enlaces */
}

/* Opcional: Si también deseas quitar el color de los enlaces cuando se pasan sobre ellos */
a:hover, a:focus {
    color: inherit; /* Mantiene el color del texto del elemento padre */
    text-decoration: none; /* Quita el subrayado al pasar el cursor sobre el enlace */
}

/* Opcional: Estilos para enlaces visitados */
a:visited {
    color: inherit; /* Mantiene el color del texto del elemento padre */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con opacidad */
    padding:0px;
  }

.custom-panel-class{
    border-radius: 8px; /* Bordes redondeados */
    padding: 0px; /* Espaciado interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }



.custom-snackbar {
    transform: translateY(30vh) !important;
    
  }



button[mat-fab] {
    background-color: #8B5FBF; /* Color malva-violeta */
    width: 56px; /* Tamaño del botón cuadrado */
    height: 56px; /* Asegura que el botón sea cuadrado */
    border-radius: 8px; /* Border radius ligero */
    display: inline;
    border: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

button[mat-fab]:hover {
    background-color: #513779; /* Color malva-violeta más oscuro */
}

button[mat-fab] mat-icon {
    font-size: 24px; /* Tamaño del icono */
    color: white; /* Color del icono */
    margin: auto!important;
}


.mobile-view{
    display:none
}


@media (max-width: 768px) {
    .mobile-view{
        display:block;
        padding: 10px;
    }

    .desktop-view{
        display:none
    }
}