
<section>
<h1>Política de Privacidad</h1>

    <p>Esta Política de Privacidad describe cómo manejamos la información personal que pueda ser recolectada a través de nuestro sitio web.</p>

    <h2>1. Información almacenada</h2>
    <p>Nuestro sitio web no almacena información personal de los usuarios, únicamente el email y un nombre (que puede ser el nombre real o uno de usuario). </p>

    <h2>2. Uso de cookies</h2>
    <p>El sitio utiliza cookies únicamente para facilitar el funcionamiento interno. Estas cookies son necesarias para garantizar que el sistema de posts funcione correctamente.</p>
    <p>Además, podrían existir cookies de terceros en nuestro sitio web. Estas cookies pueden ser instaladas por servicios externos, como herramientas de análisis o redes sociales, que pueden realizar un seguimiento de tu actividad en línea. No tenemos control sobre estas cookies y te recomendamos revisar las políticas de privacidad de dichos terceros para obtener más información.</p>

    <h2>3. Recopilación temporal de datos personales</h2>
    <p>No almacenamos datos personales, aunque recopilamos temporalmente el correo electrónico y el nombre facilitado para el envío de posts. 
    Estos datos, junto con las publicaciones, se almacenan en la base de datos del sitio web y se utilizan únicamente para la creación de contenido. En ningún caso hay un servicio de mailing asociado a la web, 
    por lo que en ningún caso recibirás correos electrónicos no solicitados.
    </p>

    <h2>4. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página y se indicará la fecha de la última actualización.</p>

    <h2>5. Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos a través del email facilitado.</p>

</section>