
<section>
    @if (postDetails) {

        

        <mat-card id="{{ postDetails._id }}">

            

            <mat-card-header>
                
                <mat-card-title id="title">
                    @if (isLogedIn){
                        <button mat-fab (click)="openOverlay()" class="button-edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        
                        <button mat-fab (click)="showMessage()" class="button-like">
                            <mat-icon>favorite</mat-icon>
                        </button>
                    }

                   
                    <h1>{{ postDetails.title }}</h1>
                </mat-card-title>
                <mat-card-subtitle> Receta realiza por: {{ postDetails.author }}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>

                @for(parrafo of content; track parrafo) {
                    <p>{{ parrafo }}</p>
                }
             
                
                <img src="{{ postDetails.imgUrl }}" alt="{{ postDetails.imgUrl }}" mat-card-image>
            
                <h3>Ingredientes</h3>
                <ul>
                    @for (item of postDetails.items; track item) {
                        <li>{{ item }}</li>
                    }
                </ul>

                <h3>Preparación</h3>
                <ol>
                    @for (item of postDetails.steps; track item) {
                        <li>{{ item }}</li>
                    }
                </ol>
                
                <h3>Tiempo</h3>
                <p>{{ postDetails.date }}</p>

                <h3>Dificultad</h3>
                <p>{{ postDetails.status }} / 5</p>
            
                
            </mat-card-content>
            
            <mat-divider/>
            
            <mat-card-footer>
                <h3>Recetas relacionadas</h3>
             
                <app-tags [tagList]="postDetails!.category" (onPostSelected)="changingPost($event)"/>
            </mat-card-footer>
          </mat-card>
        
    }

    
</section>

