<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  
  <h2> Iniciar sesión </h2>
  <p> Recuerda que puedes iniciar la sesión con tu nombre de usuario o tu email. </p>


  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="text" placeholder="E-Mail" #emailInput="ngModel" required >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
        Login
    </button>

  </form>
</mat-card>
