:host {
  float: right;
  width: 20%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin: 20px;
}

p {
    margin: auto 5px;
}

mat-expansion-panel-header{
    padding: 10px;
}
img{
    width: 20%;
    height: auto;
    border-radius: 10%;
    max-height: 40px;
    object-fit:cover;
    overflow:hidden;
}

.info-text {
  text-align: center;
}

.view-more{
    float: left;
}

.view-more button{
    padding: 0px;
    margin: 0px 10px 5px 0px;
}

@media (max-width: 768px) {
  :host {
    float: none;
    width: 100%;
    display: block;
    margin: 0px;
  }

  section{
    padding: 10%;
  }

}
