

<section>
    

    <app-paginator  [posts]="posts" [(slicedPosts)] = "slicedPosts"/>

    
    <mat-accordion multi="false" *ngIf="posts.length; else noPosts">

        
        @for (post of slicedPosts ; track post._id;) {
           
                <mat-expansion-panel>
                    <mat-expansion-panel-header (click)="onSelectingPost(post)">
                       
                            <img src="{{ post.imgUrl }}">
                            <p>{{ post.title }}</p>
                        
                    </mat-expansion-panel-header>

                    <div class="mobile-view">
                        <a pageScroll href="#{{ post._id }}" class="view-more">
                            <button mat-fab aria-label="Receta Completa">
                                <mat-icon>expand_more </mat-icon>
                            </button>
                        </a>
                        <p> {{ post.content }}</p>
                    </div>

                    <div class="desktop-view">
                        <p> {{ post.description }}</p>
                    </div>
                </mat-expansion-panel>
            } 
        
    </mat-accordion>
    
    <ng-template #noPosts>
        <p class="info-text mat-body-1">No posts added yet!</p>
    </ng-template>
</section>